@charset "UTF-8";
/* メディアクエリ	*/
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
   ■■■■■    PC用（992px以上に適用させる）     ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */ 
@media screen and (min-width: 992px) {
	
	.mobile_only {display:none;}
	
/* ==========================================================================  

	共通

   ========================================================================== */ 
body {
	padding-top: 0px;
	background:url(../img/body_back.png);
	width: 100% ;
	overflow-x: hidden;   /* P横スクロールバーを消すため */ 
}


 /* リンク色 */

 /* パンくずリスト */
.topicPath_top .pdflink a:link { color: #603f26; }

 /* 訪問済み */
 /* パンくずリスト */
.topicPath_top .pdflink a:visited { color: #603f26; }

 /* マウスオーバー */
 /* パンくずリスト */
.topicPath_top .pdflink a:hover { color: #bd9679; text-decoration: none; }

 /* 押したとき */
 /* パンくずリスト */
.topicPath_top .pdflink a:active { color: #603f26; text-decoration: none; }

/* ==========================================================================  


	index.html


   ========================================================================== */ 

h1 {
collor:#000;
}

/* ==========================================================================  

【TOPページ】ナビゲーションバー下部（PC用）

   ========================================================================== */ 
/* 全体の文字設定 */
.header_down_pc_reserve , .header_down_pc_brog , .header_down_pc_tel , .header_down_pc_info {
	margin-top:25px;
	font-weight: bold;
}

/* ボタン */
/*
.header_reserve  {
	height:50px;
}*/
/* ボタン */
/*
.header_reserve img {
	margin:20px 0 0 0;
	50%;
}
*/

/* ブログ */
.header_down_pc_brog{
	text-align: right;
}

/* ブログ */
.header_down_pc_brog img{
	width: 225px;
}

/* 電話 */
.header_down_pc_tel {
	text-align: center;
}
/* 営業時間 */
.header_down_pc_info {
	text-align: left;
	color: #f7e160;
}


/* 【予約バナー】ボックス */
.rezarb_box {
	min-height:10px; 
	width:100%;
	margin:35px auto 0 auto;
	padding:0 0 0 0;
}
/* 【予約バナー】画像のボックス */
.rezarb_box ul {
	margin: 0 auto 0 auto ;
	width:100%;
}
/* 【予約バナー】画像のボックス */
.rezarb_box li {
	width:100%;
	float: left;
}
/* 【予約バナー】画像 */
.rezarb_list img {
	display: block;
	max-width:600px;
	margin: 0 auto 0 auto ;
}









 /*-- =============================
キャンペーン情報
================================ */  
/* ボックス */
.top_1_box {
	min-height:650px;  
	width: 80%;
	margin:0 auto 0 auto;
	padding:60px 0 100px 0;
}
/* タイトル*/
.top_1_title img{
	 display: block;
	margin: 0 auto ;
	width:90%;
	max-width:380px;
}

/* お知らせ */
.top_1_text div{
	margin: 0 auto 0 auto ;
	width:80%;
	height:400px;
	padding:20px;
	background:#fff;
	overflow: auto;
	border: thin solid #666;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}


/* お知らせ（罫線） */
.whts_new hr{    
     border-bottom-style: dotted;
    border-bottom-color: #666;
    border-bottom-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
 }
 

/* お知らせ */
.top_1_cam div{
	margin: 50px 10px 0 auto ;
	width:58%;
	height:600px;
	padding:20px;
	background:#fff;
	overflow: auto;
	border: thin solid #666;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	float: left;
}

/* Facebook */
.top_f_cam div{
	margin: 25px auto 0 auto ;
	width:38%;
	float: right;
}


.cam_top{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5em;
}

.cam_title{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5em;
}

.cam_now{
	font-size: 14px;
	line-height: 1.5em;
}

.cam_old{
	font-size: 14px;
}

/* お知らせ（罫線） */
.top_1_cam hr{    
     border-bottom-style: dotted;
    border-bottom-color: #666;
    border-bottom-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    margin: 15px 0;
 }

/* =============================== 
	3大目玉
   =============================== */ 
/* ボックス */
.top_6_box {
	width:100%;
	margin:0 auto 0 auto;
	padding:75px 0 0px 0;
}

/* 画像のボックス */
.top_6_box ul {
	margin: 0 auto 20px auto ;
	width:80%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 60px;
}

.top_6_listitem01{
	width: 260px;
}

.top_6_list  img{
	display: block;
	width:100%;
	margin: 0 auto;
}

.top_6_listitem02{
	width: 248px;
}

.top_6_listitem a:hover{
	opacity: 0.8;
}

/* =============================== 
	こんな時にご連絡下さい
   =============================== */ 
/* ボックス */
.top_3_box {
	background-color: #fff;
	min-height:500px; 
	width:100%;
	margin:0 auto 0 auto;
	padding:75px 0 100px 0;
}

/* 画像のボックス */
.top_3_box ul {
	margin: 0 auto 20px auto ;
	width:80%;
}
/* 画像のボックス */
.top_3_box li {
	width:33%;
	float: left;
}
/* 共通画像 */
.top_3_list  img{
	display: block;
	max-width:260px;
	margin: 0 auto 10px auto ;
}

.top_3_text{
	width:70%;
	margin: 50px auto 10px auto ;
}

/* シッター内容のご案内 */
.top_3_text div{
	width:80%;
	min-height:150px;  
	margin: 20px auto 0 auto ;
	padding:5px 0 30px 0;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

 	/* シッター内容のご案内（テキスト） */
.top_3_text_2 {
	font-size: 20px;
	color: #fff;
	line-height: 1.7em;
 }
 
  	/* シッター内容のご案内（ボタン） */
   	.top_3_text img{
	display: block;
	margin:0 auto 0 auto;
	width:80%;
	max-width:420px;
 }
  /* =============================== 
	安心してご利用いただくために
   ================================*/ 
/* ボックス */
.top_4_box {
	min-height:900px;  
	width: 100%;
	margin:0 auto 0 auto;
	padding:75px 0 100px 0;
}

/* リスト */
.top_4_box ul{
	width:80%;
	margin: 0 auto 0 auto ;
}

/* 見出し */
.merits_list_item__title{
	font-weight: bold;
	text-align: center;
	color:#603f26;
	font-size: 26px;
	line-height: 1.5em;
}

/* 罫線 */
.top_4_box hr{
	margin: 0 auto 20px auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
    border-bottom-color: #666;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

/* 文章 */
.top_4_box li{
	width:50%;
	height:250px;
	padding:10px 40px 10px 40px;
	float: left;
	font-size: 18px;
	line-height: 1.5em;
}
 /* =============================== 
	メディア掲載情報
   ================================ */ 
  /* ボックス */
.top_5_box {
	background-color: #fff;
	min-height:900px;  
	width: 100%;
	margin:0 auto 0 auto;
	padding:75px 0 100px 0;
}

/* リスト */
.top_5_box ul{
	width:80%;
	margin: 0 auto 0 auto ;
}

/* 文章 */
.top_5_box li{
	margin: 0 auto 0 auto ;
	width:50%;
	float: left;
	min-height:50px;
	padding:0 20px 0 10px;
	font-size: 18px;
	line-height: 1.5em;
	}

/* 画像 */
.top_5_list img{
	margin: 0 30px 40px 50px;
	width:25%;
	max-width:316px;
	float: left;
}

.radio_text {
	padding: 0 0 0 50px;
}

.radio_text audio {
	margin: 0 0 20px 0;
}

.for_radio {
	padding: 0 0 0 50px;
}

 .radio {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0 0;
 }
 
 .page_link {
	font-weight: bold;
	margin: 0;
 }
 /* ===============================  
	フッター
   ================================ */ 
	 /* ボックス */
.footer {
	background:url(../img/navbar_back.png);
	min-height:500px;
	width:100%;
	padding:50px 0 15px 0;
	margin:0 auto 0 auto;
 }
 
  	 /* ローカルメニュー */
 .footer_menu {
	width:90%;
	margin: 0 auto 30px auto ;
	color:#f7e160;
}

.footer_menu_inner tr{
	height: 20px;
	text-align: center;
}

.footer_menu_inner td{
	width: 16.6666%;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: bold;
	border-right-style: solid;
	border-right-width: 2px;
    border-right-color: #f7e160;;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

	/* ロゴ */
 .footer_rogo img{
 	width:65px;
 }
  /* アドレス */
  .footer_address {
 	text-align: center;
	color: #fff;
	font-size: 14px;
	margin: 15px 0 15px 0;
	}
	
/* 画像のボックス */
.footer ul {
	width:60%;
	margin: 0 auto 0 auto ;
}
/* 画像のボックス（ブログ・電話） */
.footer_bn_large li {
	width:50%;
	float: left;
}
/* 共通画像（ブログ・電話） */
.footer_bn_large img{
	display: block;
	max-width:200px;
	margin: 0 auto 20px auto ;
}

/* 画像のボックス（外部リンク） */
.footer_bn_small li {
	width:23%;
	float: left;
	margin: 0 1% 0 1% ;
}
/* 共通画像（外部リンク） */
.footer_bn_small img{
	display: block;
	max-width:100px;
	margin: 0 5px 5px auto ;
}

  	 /* ローカルメニュー */
 .footer_bn {
	width:80%;
	margin: 0 auto 30px auto ;
	text-align: center;
}

.footer_bn table {
	border-collapse: collapse;
}

 .footer_bn tr{
	height: 80px;
	text-align: center;
}

.footer_bn td {
	padding: 3px;
}

.footer_bn img {
	margin: 0 5px 5px auto ;
}

 /*-- ==========================================================================
 
 
 
 　        1-初めてのお客様
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.LOVE PETが選ばれる理由
========================== */  
/* 外枠	*/
.first_1 {
	background-color: #fff;
	width:100%;
	min-height:1000px;
	padding:75px 0 100px 0;
	}
	
/* 画像	*/
.photo_45 img {
	width:45%;
	margin: 0 auto 50px auto ;
}

/* 画像	*/
.photo_80 img {
	width:100%;
	margin: 0 auto 50px auto ;
}



/* 画像	*/
.photo_20 img {
	width:20%;
	margin: 0 auto 50px auto ;
}

 /*-- ======================
 　2.LOVEPET会員のお得な特典サービス
========================== */  
/* 外枠	*/
.first_2 {
	width:100%;
	min-height:600px;
	padding:70px 0 50px 0;
	}

/* 見出し	*/
.first_2_midashi1 {
	font-weight: bold;
	font-size: 30px;
	line-height: 2em;
	}

/* 見出し2	*/
.first_2_midashi2 {
	font-weight: bold;
	font-size: 30px;
	line-height: 1.5em;
	}
	
/* 本文1	*/
.first_2_text1 {
	width:60%;
	font-size: 20px;
	margin: 30px auto 0 auto ;
	line-height: 1.5em;
}

/* 本文1	*/
.first_2_text2 {
	width:60%;
	font-size: 20px;
	float:left;
	line-height: 1.5em;
}

/* 本文1	*/
.first_2_text22 {
	width:60%;
	font-size: 20px;
	float:left;
	line-height: 1.5em;
}

/* 画像1	*/
.first_2_text1  img {
	float:right;
	width:30%;
}

/* 取得ポイント	*/
	.first_2_pt ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
	.first_2_pt  li{
    padding: 0;
    margin: 0;
    list-style-type:none;
    float: left;
    width: 50%;
    font-size: 20px;
    line-height: 1.5em;
}
	
/* 注意文	*/
.first_2_text3 {
	width:60%;
	font-size: 18px;
	margin: 30px auto 0 auto ;
	line-height: 1.5em;
}
	
/*-- ======================
 　3.LOVEPETに任せたらここが安心その1
========================== */  
/* 外枠	*/
.first_3 {
	background-color: #fff;
	width:100%;
	min-height:750px;
	padding:75px 0 100px 0;
	}
/*-- ======================
 　4.LOVEPETに任せたらここが安心その2
========================== */  
/* 外枠	*/
.first_4 {
	width:100%;
	min-height:750px;
	padding:75px 0 100px 0;
	}
/*-- ======================
 　5.LOVEPETに任せたらここが安心その3
========================== */  
/* 外枠	*/
.first_5 {
	background-color: #fff;
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}
/*-- ======================
 　6.LOVEPETに任せたらここが安心その4
========================== */  
/* 外枠	*/
.first_6 {
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}
/*-- ======================
 　7.LOVEPETに任せたらここが安心その5
========================== */  
/* 外枠	*/
.first_7 {
	background-color: #fff;
	width:100%;
	min-height:750px;
	padding:75px 0 100px 0;
	}
/*-- ======================
 　8.LOVEPETに任せたらここが安心その6
========================== */  
/* 外枠	*/
.first_8 {
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}	
/*-- ======================
 　9.LOVEPETに任せたらここが安心その7
========================== */  
/* 外枠	*/
.first_9 {
	background-color: #fff;
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}	
/*-- ======================
 　10.LOVEPETに任せたらここが安心その8
========================== */  
/* 外枠	*/
.first_10 {
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}		
/*-- ======================
 　11.安心と信頼をご提供する10のお約束
========================== */  
/* 外枠	*/
.first_11 {
	background-color: #fff;
	width:100%;
	min-height:1100px;
	padding:75px 0 100px 0;
	}				
/*-- ======================
 　12.営業エリア
========================== */  
/* 外枠	*/
.first_12 {
	width:100%;
	min-height:550px;
	padding:75px 0 100px 0;
	}		
	
	/* 画像1	*/
.first_12  img {
	width:70%;
}

 /*-- ==========================================================================
 
 
 
 　        2-ご利用の流れ
 
 
 
=========================================================================== */  
	/* ヘッダー */
	.title_box {
	padding:0 0 0 0;
	font-weight: bold;
	width:100%;
	margin:0 auto 0 auto;
}

	/* アイコン */
.title_box img{
	margin: 0 auto 25px auto ;
	width:286px;
	display: block;
	
}

/* 見出し1	*/
.flow_0_midashi1 {
	margin:0 auto 50px auto;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

 /*-- ==========================================================================
 　1.お申込
=========================================================================== */  
/* 外枠	*/
.flow_a {
	background-color: #fff;
	width:100%;
	min-height:900px;
	padding:75px 0 100px 0;
	}

/* タイトル	*/
.flow_a_title img{
	margin: 0 auto 50px auto ;
	width:90%;
	max-width:380px;
}

/* 見出し1	*/
.flow_a_midashi1 {
	margin:25px auto 25px auto;
	font-weight: bold;
	font-size: 46px;
	text-align: center;
	line-height: 1.7em;
	color:#603f26;
	width: 100%;
}

/* 見出し2	*/
.flow_a_midashi3 {
	margin:25px auto 0 auto;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	line-height: 1.7em;
	color:#603f26;
	width:80%;
}

/* 本文1	*/
.flow_a_text1 , .flow_a_text2 {
	width:80%;
	font-size: 20px;
	margin: 0 auto 0 auto ;
	line-height: 1.7em;
}

/* 本文1	*/
.flow_a_text1 strong , .flow_a_text2 strong{
	color:#603f26;
	font-weight: bold;
}


/* 見出し2	*/
.flow_a_midashi2 {
	margin:25px auto 0 auto;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
}

/* 画像1	*/
.flow_a_rezave {
     text-align: center;
     display:block
}
.flow_a_rezave img{
	margin: 25px auto 0px auto ;
	width:50%;
}

 /*-- ==========================================================================
 　2.ご説明 ・3.ご契約
=========================================================================== */  
/* 外枠	*/
.flow_b {
	width:100%;
	min-height:900px;
	padding:75px 0 50px 0;
	}

/* タイトル	*/
.flow_b_title1 img{
	margin: 20px auto 0 auto ;
	width:90%;
	max-width:380px;
}

/* 本文1	*/
.flow_b_text1 {
	width:80%;
	font-size: 20px;
	margin: 25px auto 25px auto ;
	line-height: 1.5em;
}

/* 画像1	*/
.flow_b_photo1 {
	text-align: center;
 	display:block
}
.flow_b_photo1 img {
	width:40%;
	}

/* 画像1	*/
.flow_b_photo2 img {
	width:40%;
	max-width:212px;
}

/* タイトル	*/
.flow_b_title2 img{
	margin: 100px auto 50px auto ;
	width:90%;
	max-width:380px;
}

/* 画像1	*/
.flow_a_btn_plan img {
	margin: 0 auto 0 auto ;
	width:50%;
	display: block;
}

 /*-- ==========================================================================
 　4. 鍵のお預かり
=========================================================================== */  
/* 外枠	*/
.flow_c {
	background-color: #fff;
	width:100%;
	min-height:900px;
	padding:75px 0 100px 0;
	}

/* タイトル	*/
.flow_c_title1 img{
	margin: 0 auto 25px auto ;
	width:90%;
	max-width:380px;
}

/* 画像1	*/
.flow_c_photo1 img {
	width:70%;
}

/* ボックス	*/
.flow_c_auto {
	width:60%;
	margin:0 auto 0 auto;
	padding:30px 0 0 0;
}

/* ボックス	*/
.flow_c_inner_1{
	width:100%;
}


/* 見出し1	*/
.flow_c_midashi1 {
	margin:30px auto 10px auto;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

	/* 項目ボックス	*/
.flow_c_inner_1 table{
	width:100%;
	margin: 0 auto 20px auto ;
	font-size: 16px;
	font-weight: bold;

}
	/* 項目セルの空白	*/
.job_koumoku {
	border-collapse: separate;
	border-spacing : 4px;
}

	/* 項目3つ並び	*/
.job_koumoku_1 td{
	border: thin solid #c9caca;
    background-color: #fff;
	width:33.3333%;
	margin: 2px;
	text-align: center;
	height: 30px;
	font-size: 20px;
}
	/* 項目2つ並び	*/
.job_koumoku_2 td{
	border: thin solid #c9caca;
    background-color: #fff;
	width:50%;
	margin: 2px;
	text-align: center;
	height: 30px;
	font-size: 20px;
}



/* 受渡し方法	*/
.flow_c_obj1 img{
	width:90%;
	margin: 0 auto 25px auto ;
	max-width:430px;
}

/* ※文	*/
.flow_c_text1 {
	width:100%;
	font-size: 18px;
	margin: 20px auto 50px auto ;
}

/* オブジェクト（背景）	*/
.flow_c_box {
	width:90%;
	background:url(../img/menulink_back.png);
	margin: 0 auto 0 auto ;
	border-radius: 10px 10px 10px 10px;　
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	max-width:460px;
}

/* オブジェクト（テキスト画像）	*/
.flow_c_box img {
	width:100%;
}

/* シッター内容のご案内 */
.flow_c_2 div{
	width:60%;
	height:300px;  
	margin: 0 auto 0 auto ;
	padding:50px 40px 40px 40px;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
 
 
 .flow_c_3 ul {
	margin: 0 auto 20px auto ;
	width:100%;
}

 .flow_c_3 li{
	width:100%;
	float: left;
 }
 




 /* グレーゾーン2段1組 */
.glay_two_1 div{
	width:60%;
	min-height:50px;  
	margin: 0 auto 0 auto ;
	padding:60px 40px 0px 40px;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.glay_two_1 ul {
	margin: 0 auto 20px auto ;
	width:100%;
}
.glay_two_1 li{
	width:50%;
	float: left;
 }
 
  /* グレーゾーン 2段2組*/
.glay_two_2 div{
	width:60%;
	min-height:10px;  
	margin: 0 auto 0 auto ;
	padding:50px 40px 0px 40px;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.glay_two_2 ul {
	margin: 0 auto 20px auto ;
	width:100%;
}
.glay_two_2 li{
	width:50%;
	float: left;
 }

  /* グレーゾーン1段1組 */
.glay_one_1 div{
	width:60%;
	min-height:300px;  
	margin: 0 auto 0 auto ;
	padding:50px 40px 40px 40px;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.glay_one_1 ul {
	margin: 0 auto 20px auto ;
	width:100%;
}
.glay_one_1 li{
 }

 /* グレーゾーン2段1組 */
.glay_two_1-2 div{
	width:100%;
	height:300px;  
	margin: 0 auto 0 auto ;
	padding:50px 40px 40px 40px;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.glay_two_1-2 ul {
	margin: 0 auto 20px auto ;
	width:100%;
}
.glay_two_1-2 li{
	width:50%;
	float: left;
 }
 
  /* グレーゾーン 2段2組*/
.glay_two_2-2 div{
	width:100%;
	height:400px;  
	margin: 0 auto 0 auto ;
	padding:50px 40px 40px 40px;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.glay_two_2-2 ul {
	margin: 0 auto 20px auto ;
	width:100%;
}
.glay_two_2-2 li{
	width:50%;
	float: left;
 }

  /* グレーゾーン1段1組 */
.glay_one_1-2 div{
	width:100%;
	min-height:300px;  
	margin: 0 auto 0 auto ;
	padding:50px 40px 40px 40px;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;　/* 左上・右上・右下・左下の順で指定する */
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.glay_one_1-2 ul {
	margin: 0 auto 20px auto ;
	width:100%;
}
.glay_one_1-2 li{
 }
 
 
 /* グレーゾーン */
.glay_title_1 {
	font-size: 30px;
	color: #f7e160;
	font-weight: bold;
	text-align: center;
	margin: 0  0 50px 0 ;
}
.glay_title_2 {
	font-size: 24px;
	color: #f7e160;
	font-weight: bold;
	margin: 0  0 30px 0 ;
	line-height: 1.5em;
}
.glay_title_3 {
	font-size: 24px;
	color: #f7e160;
	font-weight: bold;
	text-align: center;
	margin: 0px  0 30px 0 ;
}
.glay_title_4 {
	font-size: 24px;
	color: #f7e160;
	font-weight: bold;
	margin: 0  0 30px 0 ;
	line-height: 1.5em;
	text-align: center;
}
.glay_midashi_1 {
	font-size: 26px;
	color: #f7e160;
	font-weight: bold;
	text-align: center;
	margin: 0 0 25px 0;
}
.glay_midashi_2 {
	font-size: 20px;
	color:#f7e160;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 0 0;
}
.glay_text_1 {
	font-size: 20px;
	color: #fff;
	margin: 0 10px;
	line-height: 1.5em;
}
.glay_text_2 {
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin: 0 10px;
	line-height: 1.5em;
}


 
 /*-- ==========================================================================
 　5. カルテの作成
=========================================================================== */  
/* 外枠	*/
.flow_d {
	width:100%;
	min-height:900px;
	padding:75px 0 100px 0;
	}

/* タイトル	*/
.flow_d_title1 img{
	margin: 0 auto 55px auto ;
	width:90%;
	max-width:380px;
}

/* 画像1	*/
.flow_d_photo1 {
     text-align: center;
     display:block
}
.flow_d_photo1 img {
	width:40%;
}

/* 画像1	*/
.flow_d_photo2 img {
	width:40%;
	max-width:212px;
}

/* 本文1	*/
.flow_d_text1 {
	width:80%;
	font-size: 20px;
	margin: 50px auto 50px auto ;
	line-height: 1.5em;
}

/* オブジェクト（背景）	*/
.flow_d_box {
	width:90%;
	background:url(../img/menulink_back.png);
	margin: 0 auto 0 auto ;
	border-radius: 10px 10px 10px 10px;　
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
		max-width:460px;
}

/* オブジェクト（テキスト画像）	*/
.flow_d_box img {
	width:100%;
}

 
 /*-- ==========================================================================
 　6. シッター当日・7. シッター終了後
=========================================================================== */  
/* 外枠	*/
.flow_e {
	background-color: #fff;
	width:100%;
	min-height:900px;
	padding:75px 0 100px 0;
	}

/* タイトル	*/
.flow_e_title1 img{
	margin: 0 auto 25px auto ;
	width:90%;
	max-width:380px;
}

/* 本文1	*/
.flow_e_text3 {
	width:80%;
	font-size: 20px;
	margin: 25px auto 0 auto ;
	line-height: 1.7em;
}

/* 画像1	*/
.flow_e_photo1 img {
	width:60%;
}

/* タイトル	*/
.flow_e_title2 img{
	margin: 100px auto 25px auto ;
	width:90%;
	max-width:380px;
}

/* flow_e_text_4*/
.flow_e_text_4 {
	width:100%;
	font-size: 20px;
	margin: 25px auto 0 auto ;
	line-height: 1.7em;
}

/* flow_e_text_4*/
.flow_e_text_5 {
	width:100%;
	font-size: 18px;
	margin: 0px auto 0 auto ;
}

.flow_e_box {
	width:60%;
	margin:0 auto 0 auto;
	padding:30px 0 0 0;
}

/* ボックス	*/
.flow_e_inner_1{
	width:100%;
}


/* 見出し1	*/
.flow_c_midashi1 {
	margin:50px auto 25px auto;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
}

	/* 項目ボックス	*/
.flow_e_inner_1 table{
	width:100%;
	margin: 0 auto 20px auto ;
	font-size: 20px;
	font-weight: bold;

}
	/* 項目セルの空白	*/
.frow_e_table {
	border-collapse: separate;
	border-spacing : 4px;
}
	/* 項目2つ並び	*/
.frow_e_table td{
	border: thin solid #c9caca;
    background-color: #fff;
	width:50%;
	margin: 2px;
	padding: 5px 0;
	text-align: center;
	height: 30px;
}

 /*-- ==========================================================================
 　
=========================================================================== */  
/* 外枠	*/
.flow_f {
	width:100%;
	min-height:700px;
	padding:75px 0 25px 0;
	}

 
 /*-- ==========================================================================
 
 
 
 　        3.シッター内容
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.犬の場合
========================== */  
/* 外枠1	*/
.job_box_01 {
	background-color: #fff;
	min-height:1100px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
/* 内枠	*/
.job_box_inner {
	width:60%;
	margin: 0 auto 0 auto ;
}

/* 内枠	*/
.job_box_inner_2 {
	width:70%;
	margin: 0 auto 0 auto ;
}

/* タイトル	*/
.job_title img{
	margin: 50px auto 50px auto ;
	width:90%;
	max-width:380px;
}

/* 見出し1	*/
.job_midashi1 {
	margin:50px auto 0 auto;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	color:#603f26;
}

/* 文章	*/
.job_text_1 {
	font-size: 20px;
	line-height: 1.7em;
}
/* 文章（小）	*/
.job_text_2 {
	font-size: 14px;
}

	/* 項目	*/
.job_koumoku_1 , .job_koumoku_2{
	width:100%;
	margin: 0 auto 20px auto ;
	font-size: 16px;
	font-weight: bold;
	border-collapse: separate;
	border-spacing : 4px;
}

.job_koumoku_1 td{
	border: thin solid #c9caca;
    background-color: #fff;
	width:33.3333%;
	margin: 2px;
	text-align: center;
	height: 30px;
	padding: 5px 0;
}

.job_koumoku_2 td{
	border: thin solid #c9caca;
    background-color: #fff;
	width:50%;
	margin: 2px;
	text-align: center;
	height: 30px;
		padding: 5px 0;
}

 /*-- ======================
 　1.猫の場合
========================== */  
/* 外枠1	*/
.job_box_02 {
	min-height:900px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
/* 外枠1	*/
.job_box_03 {
	background-color: #fff;
	min-height:900px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
 /*-- ======================
 　5.出張しつけドッグトレーニング
========================== */  
/* 外枠1	*/
.job_box_04 {
	background-color: #fff;
	min-height:900px;
	width:100%;
	padding:75px 0 100px 0;
	}

/* 医院	*/
	.job_list01 ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

	.job_list01 li{
    padding: 0;
    margin: 0 0 5px 0;
    list-style-type:none;
    float: left;
    width: 50%;
    line-height: 1.2em;
    	font-size: 18px;
}

.job_list02 {
	font-size: 22px;
	font-weight: bold;
	margin:30px 0 15px 0;
}
/*-- ==========================================================================
 
 
 
 　        4.料金・プラン
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.シッター通常コース（1日1時間）
========================== */  
/* 料金表	*/
.menu_box_01 th , .menu_box_02 th , .menu_box_03 th , .menu_box_04  th, .menu_box_05 th , .menu_box_06 th {
	background: #f7f8f8;
	text-align: center;
	border: 1px solid #c9caca;
	border-collapse: collapse;
	padding: 5px 0 5px 0;
	height: 25px;
	font-size: 18px;
}
.menu_box_01 td , .menu_box_02 td , .menu_box_03 td , .menu_box_04  td , .menu_box_05 td , .menu_box_06 td  {
	background: #fff;
	text-align: right;
	border: 1px solid #c9caca;
	border-collapse: collapse;
	padding:5px;
	height: 25px;
	font-size: 16px;
}

/* 共通料金以外の値段を赤の太文字	*/
.menu_box_01 td , .menu_box_02 td , .menu_box_03 td , .menu_box_04  td , .menu_box_05 td  {
	font-weight: normal;
}

/* 通常料金の値段を黒に戻す	*/
.menu_box_05 .tuuzyou  {
	color:#000;
	font-weight: normal;
}

/* 共通料金の「回数券料金」を赤	*/
.menu_box_05 .kaisuu  {
	color:#603f26;
}

.menu_box_05 .kaisuu td {
	font-weight: bold;
}

/* 外枠1	*/
.menu_box_01 {
	background-color: #fff;
	min-height:950px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
/* 外枠2	*/
.menu_box_02 {
	min-height:1200px;
	width:100%;
	padding:75px 0 100px 0;
	}
/* 外枠3	*/
.menu_box_03 {
	min-height:950px;
	width:100%;
	padding:75px 0 100px 0;
	}
/* 外枠2	*/
.menu_box_04 {
	background-color: #fff;
	min-height:1200px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
/* 外枠3	*/
.menu_box_05 {
    background-color: #fff;
    min-height: 2480px;
    width: 100%;
    padding: 75px 0 100px 0;
	}
	
/* 外枠3	*/
.menu_box_06 {
	min-height:1000px;
	width:100%;
	padding:75px 0 100px 0;
	}

	
/* 文章（大）	*/
.menu_text_1 {
	font-size: 20px;
	margin: 25px 0 0 0;
	line-height: 1.7em;
}
/* 文章（大）	*/
.menu_text_1-2 {
	font-size: 20px;
	margin: 25px 0 0 0;
		line-height: 1.5em;
		width: 80%;
				margin:0 auto 0 auto;
				text-align: center;
}

/* 文章（小）	*/
.menu_text_2 {
	font-size: 18px;
}

* 文章（小）	*/
.menu_text_3 {
	font-size: 18px;
		width: 80%;
		margin:0 auto 0 auto;
}

/* シッティング料金の一例	*/
.menu_sitthing {
	margin:20px auto 0 auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color:#603f26;
}

/* 事例	*/
.menu_text_3 {
	font-size: 18px;
	width: 60%;
	margin:0 auto 0 auto;
}

/* 金額	*/
.menu_price {
	margin:0 auto 0 auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

 /*-- ==========================================================================
 
 
 
 　        5-シッター紹介
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.資格取得一覧
========================== */  
/* 外枠	*/
.sitter_1 {
	background-color: #fff;
	width:100%;
	min-height:400px;
	padding:75px 0 50px 0;
	}

/* 本文1	*/
.sitter_1_text1 {
	width:100%;
	font-size: 20px;
	margin: 30px auto 0 auto ;
	line-height: 1.7em;
}

/* 取得資格*/
.sitter_1_text1 ul {
    padding: 0;
	margin: 0 auto 0 auto ;
    width: 100%;
}
	.sitter_list li{
    padding: 0 20px 0 0;
    list-style-type:none;
    float: left;
    width: 50%;
}


 /*-- ======================
 　2.有資格者シッター紹介
========================== */  
/* 外枠	*/
.sitter_2 {
	width:100%;
	min-height:800px;
	padding:75px 0 100px 0;
	}
	
.sitter_1_text1 {
	width:60%;
	font-size: 20px;
	margin: 30px auto 0 auto ;
	line-height: 1.5em;
	padding: 20px 0 0 0;
}

	/* 画像1	*/
.sitter_1_text1  img {
	width:80%;
}
		
/* 本文1	*/
.sitter_2_text1 {
	margin: 0 auto 0 45% ;
}

.sitter_name1 {
	font-size: 20px;
	display:block;
	height:5px;
	margin: 30px 0 10px 0;
	text-align: center;
}

.sitter_name2 {
	font-size: 36px;
	font-weight: bold;
	display:block;
	height:10px;
	margin: 0 0 30px 0;
	text-align: center;
}

.sitter_dateil {
	font-size: 20px;
	display:block;
	height:5px;
}

.sitter_dateil img {
	margin: 0 10px 0 0 ;
	width:60px;
}

 /*-- ======================
 　3.有資格者シッター紹介　2
========================== */  
/* 外枠	*/
.sitter_3 {
	background-color: #fff;
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}
	
 /*-- ======================
 　4.有資格者シッター紹介　3
========================== */  
/* 外枠	*/
.sitter_4 {
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}
	
	
 /*-- ==========================================================================
 
 
 
 　        6-動物愛護への取り組み
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.ONE LOVEプロジェクト
========================== */  
/* 外枠1	*/
.love_0 {
	background-color: #fff;
	width:100%;
	min-height:600px;
	padding:50px 0 100px 0;
	}

.love_1 {
	background-color: #fff;
	width:100%;
	min-height:600px;
	padding:75px 0 100px 0;
	}

/* 外枠2	*/
.love_2 {
	width:100%;
	min-height:600px;
	padding:75px 0 100px 0;
	}
	
/* テキスト	*/
.love_text1{
	width:60%;
	margin: 30px auto 0 auto ;
	font-size: 20px;
	line-height: 1.7em;
}

/* テキスト	*/
.love_text3{
	width:70%;
	margin: 30px auto 0 auto ;
	font-size: 20px;
	line-height: 1.5em;
}

/* テキスト	*/
.love_text2 {
	width:60%;
	margin: 0px auto 0 auto ;
	font-size: 20px;
	line-height: 1.5em;
}

/* 画像	*/
.love_p {
	width:70%;
	margin: 50px auto 50px auto ;
	text-align: center;
}
.love_p img{
	width:100%;
}

/* 画像	*/
.love_p_s {
	width:50%;
	margin: 50px auto 50px auto ;
	text-align: center;
}
.love_p_s img{
	width:100%;
}


/* 外枠	*/
.love_banner {
	width:50%;
	margin: 0 auto 0 auto ;
	text-align: center;
	}

.love_banner_1 {
	width: 50%;
	float: left;
}

.love_banner_2 {
	width: 50%;
	float: right;
}

.love_banner_1 img {
	margin: 0 0 15px 0;
	width: 250px;
}
.love_banner_2 img {
	width: 150px;
	margin: 0 0 0 100px;
}

 /*-- ==========================================================================
 
 
 
 　        7-安全・安心対策
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠1	*/
.safe_1 {
	background-color: #fff;
	width:100%;
	min-height:800px;
	padding:75px 0 100px 0;
	}

.safe_banner_1 {
	width: 50%;
	float: left;
}

.safe_banner_2 {
	width: 50%;
	float: right;
}

.safe_banner_1 img {
	width: 100px;
}

.safe_banner_2 img {
	margin: 40px 0 0 0;
	width: 250px;
}
 /*-- ======================
 　2.防災訓練研修の様子
========================== */ 
/* 外枠1	*/
.safe_2 {
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}
	
	
	/* 外枠2	*/
.safe_3 {
	background-color: #fff;
	width:100%;
	min-height:600px;
	padding:75px 0 100px 0;
	}
	
		/* 外枠2	*/
.safe_3-2 {
	width:100%;
	min-height:600px;
	padding:75px 0 100px 0;
	}
	
	
	/* 外枠3	*/
.safe_4 {
	width:100%;
	min-height:600px;
	padding:75px 0 100px 0;
	margin: 0 auto 0 auto ;
	}
	
		/* 外枠3	*/
.safe_4-2 {
		background-color: #fff;
	width:100%;
	min-height:600px;
	padding:75px 0 100px 0;
	margin: 0 auto 0 auto ;
	}
	
	
	.safe_midashi {
		font-size: 18px;
		font-weight: bold;
	}
 /*-- ======================
 　8.震災ライフジャケット
========================== */  	
/* 本文1	*/
.safe_text1 {
	width:60%;
	font-size: 20px;
	margin: 30px auto 0 auto ;
	line-height: 1.7em;
}

/* 本文1	*/
.safe_text2 {
	width:60%;
	font-size: 20px;
	float:left;
	line-height: 1.7em;
	padding: 0 20px 0 0;
}

/* 見出し	*/
.safe_text3 {
	width:50%;
	font-size: 16px;
	line-height: 1.8em;
	font-weight: bold;
}


	/* 画像1	*/
.safe_text1  img {
	float:right;
	width:40%;
	margin: 20px 0 0 0;
}

 /*-- ======================
 　11.愛犬用非常食セット
========================== */  	
/* 外枠	*/
.safe_5 {
	background-color: #fff;
	width:100%;
	min-height:900px;
	padding:75px 0 100px 0;
	}
 /*-- ======================
 　12.愛猫用非常食セット
========================== */  	
/* 外枠	*/
.safe_6 {
	width:100%;
	min-height:900px;
	padding:75px 0 100px 0;
	}

/* 外枠	*/
.safe_7 {
	background-color: #fff;
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}
	
/* 外枠	*/
.safe_8 {
	width:100%;
	min-height:100px;
	padding:75px 0 100px 0;
	}
	
/* 本文1	*/
.safe_text3 {
	font-size: 20px;
	margin: 30px auto 0 auto ;
}

 /*-- ======================
 　24時間遠隔操作カメラ
========================== */  	
/* ヘッダー */
.title_box2 {
	background:url(../img/navbar_back.png);
	padding:25px 0 25px 0;
	min-height:220px;
	width:100%;
}

	/* アイコン */
.title_box2 img {
	margin: 0 auto 25px auto ;
	width:365px;
}


/* 外枠	*/
.safe_9 {
	background-color: #fff;
	width:100%;
	min-height:500px;
	padding:75px 0 50px 0;
	}

/* 外枠	*/
.safe_10 {
	width:100%;
	min-height:700px;
	padding:75px 0 50px 0;
	}
	
	/* 外枠	*/
.safe_11 {
	width:100%;
	min-height:500px;
	padding:75px 0 100px 0;
	}
	
	
	/* 外枠	*/
.safe_10-2 {
		background-color: #fff;
	width:100%;
	min-height:700px;
	padding:75px 0 100px 0;
	}
	
	
	/* 外枠	*/
.safe_12 {
	background-color: #fff;
	width:100%;
	min-height:200px;
	padding:75px 0 100px 0;
	}
	
		/* 外枠	*/
.safe_15 {
	width:80%;
		margin: 50px auto 0 auto;
	}
	
	
		/* 外枠	*/
.safe_16 {
	width:90%;
		margin: 50px auto 0 auto;
	}
	
 /*-- ==========================================================================
 
 
 
 　        8.サービス特典
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠1	*/
.service_1 {
	background-color: #fff;
	min-height:900px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
	/* 外枠1	*/
.service_2 {
	min-height:700px;
	width:100%;
	padding:75px 0 100px 0;
}

/* 外枠1	*/
.service_3 {
	min-height:800px;
	width:100%;
	padding:75px 0 100px 0;
	}

	/* 外枠1	*/
.service_4 {
	background-color: #fff;
	min-height:700px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
 /*-- ==========================================================================
 
 
 
 　        9.よくあるご質問
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠1	*/
.question_1 {
	background-color: #fff;
	width:100%;
	padding:75px 0 100px 0;
	}
	
/* 罫線*/
.question_1 hr{
	width:60%;
	margin: 0px auto 0px auto ;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
    border-bottom-color: #666;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
	}
	
	/* 本文1	*/
.question_text1 {
	width:60%;
	margin: 30px auto 0 auto ;
	height: 40px;
}

	/* Q	*/
.question_Q {
	font-size: 40px;
	float:left;
	color:#603f26;
	font-weight: bold;
	margin: 10px 0 30px 0 ;
}

	/* Q文章	*/
.question_text2 {
	font-size: 26px;
	font-weight: bold;
	color:#603f26;
	line-height: 1.5em;
}

/* A	*/
.question_text3 {
	width:60%;
	font-size: 20px;
	margin: 30px auto 30px auto ;
	line-height: 1.5em;
}

 /*-- ==========================================================================
 
 
 
 　        10-動物病院のご紹介
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠1	*/
.hospital_1 {
	background-color: #fff;
	width:100%;
	padding:75px 0 100px 0;
	}

/* 外枠1	*/
.hospital_2 {
	width:100%;
	padding:75px 0 100px 0;
	}
	
/* 本文1	*/
.hospital_text1 {
	width:60%;
	margin: 30px auto 0 auto ;
}

/* 医院	*/
	.hospital_clinic ul {
    padding: 0;
    margin: 0;
    width: 100%;
	font-size: 14px;
}

	.hospital_clinic  li{
    padding: 0;
    margin: 0 0 20px 0;
    list-style-type:none;
    float: left;
    width: 50%;
    line-height: 1.5em;
    font-size: 20px;
}

	.hospital_clinic  .name {
    font-size: 26px;
    font-weight: bold;
}

/* 区名*/
.hospital_kumei {
	margin:40px auto 0 auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	line-height: 2em;
	
	border-bottom-style: dotted;
	border-bottom-width: 1px;
    border-bottom-color: #666;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}
 /*-- ==========================================================================
 
 
 
 　        11.お客様写真館
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠1	*/
.photo_1 {
	background-color: #fff;
	min-height:600px;
	width:100%;
	padding:75px 0 100px 0;
	}
	
/* 外枠2	*/
.photo_2 {
	min-height:510px;
	width:100%;
	padding:100px 0 100px 0;
	}

/* 外枠3	*/
.photo_3 {
	background-color: #fff;
	min-height:470px;
	width:100%;
	padding:100px 0 100px 0;
	}
	
/* タイトル	*/
.photo_title img{
	margin: 0 auto 50px auto ;
	width:90%;
	max-width:380px;
}

/* テーブル設定	*/
.photo_p {
	border: none;
	border-collapse: collapse;
	width: 60%;
	margin: 0 auto 0 auto ;
}
/* 写真の列設定	*/
.photo_p th {
	width: 25%;
	text-align: center;
	padding: 0px;
}
/* 文字の列設定	*/
.photo_p td {
	font-size: 14px;
	text-align: center;
	padding: 5px 0 30px 0;
}
/* 写真の設定	*/
.photo_p img{
	width: 100%;
	max-width:96px
}

 /*-- ==========================================================================
 
 
 
 　        12.お客様の声
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠1	*/
#out_box {
}


/* 外枠1	*/
.voice_1 {
	background-color: #fff;
	width:100%;
	margin:25px auto 0 auto;
	padding: 75px 0 100px 0;
	}
	
	/* 外枠1	*/
.voice_2 {
	width:80%;
	margin:0 auto 0 auto;
	padding: 75px 0 100px 0;
	}

/* 見出し	*/
.voice_midashi {
	margin:25px auto 0 auto;
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	line-height: 1.7em;
}

/* 見出し	*/
.voice_midashi_s{
	margin:0px auto 50px auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	line-height: 1.7em;
}

/* 感想 */
.voice_text {
	width:60%;
	margin:0 auto 0 auto;
	font-size: 20px;
	line-height: 1.7em;
	padding:50px 0 30px 0;
	
	border-bottom-style: dotted;
	border-bottom-width: 1px;
    border-bottom-color: #666;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.voice_text_last {
	width:60%;
	margin:0 auto 0 auto;
	font-size: 18px;
	line-height: 1.5em;
	padding:50px 0 30px 0;
}


/* タイトル	*/
.voice_title img{
	margin: 100px auto 50px auto ;
	width:90%;
	max-width:380px;
}

	/*フォーム	*/
.voice_form {
	width:80%;
	margin: 50px auto 70px auto ;
	margin:0 auto 0 auto;
}


 /*-- ==========================================================================
 
 
 
 　        13.会社概要
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  

	/* ヘッダー */
 /*-- 	.title_box {
	background:url(../img/hedder_back.png);
	padding:25px 0 25px 0;
	min-height:100px;
	text-align:center;
	font-weight: bold;
	font-size: 20px;
	color: #f7e160;
	width:100%;
}
 */  

/* 『会社概要』	*/
.about_title_0 {
	margin:75px auto 25px auto;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color:#603f26;
}

/* 外枠1	*/
.about_1 {
	background-color: #fff;
	width:100%;
	padding:75px 0 25px 0;
	margin:75px auto 25px auto;
	}
	
/* 見出し1	*/
.about_title {
	margin:25px auto 25px auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

/* 本文1	*/
.about_text {
	width:60%;
	margin: 30px auto 75px auto ;
	font-size: 20px;
	line-height: 1.7em;
}

/* 本文1	*/
.about_text2 {
	width:70%;
	margin: 30px auto 75px auto ;
	font-size: 16px;
	line-height: 1.7em;
}


/* 背景*/
.about_back {
	width:100%;
	margin: 0 auto 0 auto ;
	padding: 50px 0 50px 0;
	font-size: 16px;
	line-height: 1.7em;
}

.about_table {
	width:100%;
	margin: 0 auto 0 auto ;
	font-size: 20px;
	line-height: 1.7em;
}

.about_table tr{
	height: 75px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
    border-bottom-color: #666;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.about_table th{
	width:40%;
}

.about_table td{
	width:60%;
}
 /*-- ==========================================================================
 
 
 
 　        14.プライバシーポリシー
 
 
 
=========================================================================== */  
/* 外枠1	*/
.privacy_1 {
	background-color: #fff;
	width:100%;
	padding:50px 0 100px 0;
	margin: 75px 0 0 0;
	}

.privacy_2 {
	width:100%;
	padding:0 0 0 0;
	}
	
	/* 見出し1	*/
.privacy_midashi {
	margin:25px auto 50px auto;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	line-height: 1.7em;
	width: 60%;
}

 /*-- ==========================================================================
 
 
 
 　        16.ご予約・お問合せ
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠1	*/
.order_1 {
	width:100%;
	padding:45px 0 0 0;
	margin: 0 auto 0 auto;
	}

/* 外枠1	*/
.order_2 {
	background-color: #fff;
	width:100%;
	padding:75px 0 100px 0;
	margin: 0 auto 0 auto;
	}
	

	
	/*  */
	.order_contact {
	padding:25px;
	min-height:250px;
	margin: 50px auto 75px auto ;
	width:50%;
	background:url(../img/menulink_back.png);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	text-align: center;
}

	.order_contact_2 {
	padding:25px;
	min-height:210px;
	margin: 50px auto 0px auto ;
	color: #f7e160;
	width:50%;
	background-image: url(../img/navbar_back.png);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	text-align: center;
}


.order_contact_text1 {
	font-size: 12px;
	line-height: 1em;
}

.order_contact_text2 {
	font-weight: bold;
	font-size: 34px;
	line-height: 1.2em;
	color: #fff;
}

.order_contact_text3 {
	font-size: 16px;
	line-height: 1em;
	color: #f7e160;
		font-weight: bold;
}

.order_contact_text2_2 {
	font-weight: bold;
	font-size: 34px;
	line-height: -2em;
	color: #fff;
}

.order_contact_text3_2 {
	font-size: 16px;
	line-height: -2em;
}

 /*-- ==========================================================================
 
 
 
 　        15.アクセスマップ
 
 
 
=========================================================================== */  
 /*-- ======================
 　1.
========================== */  
/* 外枠	*/
.map_out {
	background-color: #fff;
	width:100%;
	padding:45px 0 100px 0;
	margin: 50px auto 0 auto;
	}

/* 内枠	*/
.map_inner {
	width:80%;
	padding:0 0 25px 0;
	margin: 25px auto 0 auto;
	min-height: 10px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
    border-bottom-color: #666;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
	}
	
/* リスト（左・中）	*/
.map_inner_l {
	width:30%;
	margin:0 5% 0 0;
	float: left;
	}
	
	/* リスト（右）	*/
.map_inner_r {
	width:30%;
	padding:0 0 0 0;
	float: left;
	}
	
.map_title {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}

.map_datail {
	font-size: 16px;
	line-height: 1.8em;
}



 /*-- ==========================================================================
 
 　        ここまで
 
=========================================================================== */  

/* ここまで	*/
} 

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
   ■■■■■    スライドバック用（1264px以上に適用させる）     ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */ 
@media screen and (min-width: 1264px) {
	.slide_back {

	}
/* ここまで	*/
} 
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
   ■■■■■    大画面PC用（1680px以上）     ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */ 
@media screen and (min-width: 1680px) {
/* ここまで	*/
}